<h1>Create a New Project</h1>

<%= form_for(@project) do |f| %>
  <div class="field">
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <p><%= f.label :goal %></p>
    <%= f.number_field :goal %>
  </div>

  <div class="field">
    <p><%= f.label :funding_start %></p>
    <%= f.date_field :funding_start %>
  </div>

  <div class="field">
    <p><%= f.label :funding_end %></p>
    <%= f.date_field :funding_end %>
  </div>

  <div class="field">
    <p><%= f.label :description %></p>
    <%= f.text_area :description %>
  </div>

  <div id="tasks">
    <p><%= f.fields_for :break_points do |bp| %></p>
          <%= render 'break_point_fields', :f => bp %>
          <div class="links">
            <%= link_to_add_association 'Add Break Point', f, :break_points %>
          </div>
      <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>