<h3><%= @project.name %> - $<%= @project.goal %></h3>
<p><%= @project.description %></p>

<% @project.break_points.each do |bp| %>
  <div class="break-points">
    <h4>$<%= bp.value %></h4>
    <%= bp.description %>
  </div>
<% end %>